.profile {
  padding: 20px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.name,
.quantity {
  font-size: 48px;
  font-weight: 600;
}

.tag,
.location,
.label {
  font-size: 36px;
  color: gray;
}

.stats {
  display: flex;
  justify-content: center;
}

.stats > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color: #f7f3f3;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 33%;
}
