.transaction-history {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.68);
  width: calc(100% - 40px);
  border-collapse: collapse;
}
.thead {
  background-color: cornflowerblue;
  color: white;
}

th,
td {
  width: 33%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.th {
  border-right: 1px solid white;
}

td {
  border-left: 1px solid gray;
}

.td-type {
  display: block;
  text-align: left;
  padding-left: 45%;
  margin-right: auto;
  border: none;
}

.tr-even {
  background-color: lightgray;
}
