.statistics {
  padding: 20px;
}
.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;
}

.stat-list {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 20%;
  row-gap: 16px;
  color: white;
}

.label {
  font-size: 32px;
}

.percentage {
  font-size: 36px;
  font-weight: 600;
}

.docx {
  background-color: aqua;
}
.pdf {
  background-color: blueviolet;
}
.mp3 {
  background-color: red;
}
.psd {
  background-color: deepskyblue;
}
